<!DOCTYPE html>
<html>
<head>
    <meta chartset=UTF-8>
        <meta name=description content="Mais que um simples tradutor, uma plataforma de comunicação para surdos.">
	    <meta name=keyword content="Giulia, Aplicação pra surdos, Tradutor de libras, Projeto Giulia, Manuel Cardoso, Map Innovation, Map, Innovation, projetogiulia, Surdo, Libras, Alerta, Comunicação dos surdos, Acessibilidade, Aplicativo Giulia, Mãos que falam, Tecnologia assistiva, Escola, Sinais, Linguagem">
        <link rel=stylesheet href=/styles/css/materialize.css media=screen,projection />
        <link rel=stylesheet href=/styles/css/cdc.css media=screen,projection />
        <meta name=viewport content="width=device-width, initial-scale=1.0" />
        <script src=/lib/jquery.min.js></script>
        <script src=/scripts/avatar.js></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="row">
                <h1 class="center-align">Giulia - Código de Defesa do Consumidor</h1>
            </div>
            <div class="row">
                <div class="col l4 m4">
                    <div class="container">
                        <div class="avatar">
                            <div id="mini-bar"><img src="/images/giulia.png" class="favicon-giulia"> <a href="/" class="giulia-link">www.projetogiulia.com.br</a></div>
                            <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="400px" width="200px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <%= result %>
    </div>
</body>
</html>